@import '../../../variables.scss';
@import '../../../mixins.scss';

.about-covid19-symptoms-wrapper {

    // @include smartTopPadding();

    text-align: left;

    .highlighted {
        color: $colorDanger;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}