<div class="about-covid19-symptoms-wrapper" >

    <h2>SIMPTOMI ZARAZE COVID-19</h2>
 
    <p class="highlighted">
        Osobe koje boluju od kroničnih bolesti podložnije su težem obliku bolesti.
    </p>

    <h3>U BLAŽEM OBLIKU</h3>

    <ul>
        <li>povišena tjelesna temperatura</li>
        <li>kašalj</li>
        <li>otežano disanje</li>
        <li>bolovi u mišićima</li>
        <li>umor</li>
    </ul>

    <h3>U TEŽEM OBLIKU</h3>

    <ul>
        <li>teška upala pluća</li>
        <li>sindrom otežanog disanja</li>
        <li>sepsa</li>
        <li>spetički šok</li>
    </ul>

</div>