@import '../../../mixins.scss';

.app-bar-wrapper {

    .lang-button {
        text-transform: uppercase;
    }

    mat-toolbar {
        
    }

    mat-toolbar-row {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        background-color: black;
    
        .title {
            margin-left: 8px;
        }
        a {
            color: unset;
            text-decoration: unset;
        }
    
        .bar-icon {
        
            // &:first-child 
            // padding: 0 14px;
        }
    
        &:first-child {
            // padding-left: 0;
        }
    
    }
    
    .sidebar-container {
        
        @include niceMinHeight();

        
        mat-sidenav {
            
            mat-nav-list {

                // When position:fixed is moved to 
                // mat-toolbar-row then everyting works perfect
                // DO NOT USE THIS HACK!
                /*@media screen and (max-width: 959px) and (orientation: landscape) {
                    margin-bottom: 100px; // HACK: to fix bug in material sidebar
                }*/
                
                display: flex;
                flex-direction: column;
    
                @include niceMinHeight($more-offset: 8px);
    
                .language-wrapper {
                    margin: 8px;
                }
                
            }

            
        }
        
        .main-content {
            @include niceMinHeight();
        }
        
        
    }
}



