@import '../../../mixins.scss';

.app-bar-wrapper {

    .lang-button {
        text-transform: uppercase;
    }
    mat-toolbar-row {

        background-color: black;
    
        .title {
            margin-left: 8px;
        }
        a {
            color: unset;
            text-decoration: unset;
        }
    
        .bar-icon {
        
            // &:first-child 
            // padding: 0 14px;
        }
    
        &:first-child {
            // padding-left: 0;
        }
    
    }
    
    .sidebar-container {
        
        @include niceMinHeight();
    
        mat-sidenav {
            
            mat-nav-list {
                
                display: flex;
                flex-direction: column;
    
                @include niceMinHeight($more-offset: 8px);
    
                .language-wrapper {
                    margin: 8px;
                }
                
            }

            
        }
        
        .main-content {
            @include niceMinHeight();
        }
        
        
    }
}



