<div class="about-general-hygiene-wrapper">


    <h2>OPĆE HIGIJENSKE MJERE</h2>


    <p>&bull; perite ruke toplom vodom i sapunom</p> 
    <p>&bull; kišite i kašljite u papirnatu maramicu ili unutarnju stranu lakata</p>
    <p>&bull; održavajte razmak između ljudi, ne manje od 1-2 metra</p>
    <p>&bull; ne dodirujte  oči, nos i usta rukama</p>
    
    <h2 class="highlighted">Ako imate simptome bolesti nazovite telefonom svog liječnika obiteljska medicine.</h2>
    
    <h2 class="highlighted">Za dodatne informacije o COVID 19.</h2>
     
    <p>
        <a href="tel:113" >113</a> je pozivni broj kriznog stožera
    </p> 

    <p>
        <a href="https://www.hzjz.hr/" target="_blank" >HZJZ</a> web stranica.
    </p>

    <p>
        Pozivni centar grada Zagreba na temu korone <a href="tel:0800999" >0800999</a>
    </p>

</div>
