<div class="question-wrapper" >

    <!-- {{ answerValue | json }} -->
    <span *ngIf="mode === 'preview'"><b>{{ id }}.</b>&nbsp;</span>

    <ng-container *ngFor="let part of question">
        <span *ngIf="!part.link || mode === 'preview'" [innerHTML]="part.text"></span>
        <a *ngIf="part.link && mode !== 'preview'" [routerLink]="[ part.link ]" [state]="{ returnPath: currentPath }" >
            <span [innerHTML]="part.text"></span>
        </a>
    </ng-container>

    <ng-container *ngFor="let part of note">
        <div class="note" [innerHTML]="part.text" *ngIf="mode !== 'preview'"></div>
    </ng-container>
    
    <div class="answer-choices-wrapper" [class]="mode" *ngIf="answerChoices" >
        <ng-container *ngFor="let choice of answerChoices">
            <div class="choice" *ngIf="mode !== 'preview'">
                <mat-checkbox [value]="choice.text"
                             [checked]="answerValue && answerValue[choice.text]"
                             (change)="onChangeAnswerChoice($event)">{{ choice.text }}</mat-checkbox>
            </div>

            <div class="choice" *ngIf="mode === 'preview'">
                <span class="indicator" [class.active]="answerValue && answerValue[choice.text]"><span class="content" >{{ (answerValue && answerValue[choice.text]) ? '&#10004;' : '&nbsp;' }}</span></span>
                <span class="text">{{ choice.text }}</span>
            </div>
        </ng-container>
    </div>

    <!-- PREVIEW answer -->
    <div class="answer-preview" *ngIf="mode === 'preview'" >
        <div class="binary-answer" [class]="answerValue" *ngIf="answerValue === 'POSITIVE' || answerValue === 'NEGATIVE'" >
            <!-- TODO: fetch config from QuestionsService -->
            <span *ngIf="answerValue === 'POSITIVE'" >{{ 'CONFIG.QUESTION.ANSWER.TYPE.BINARY.NO' | translate }}</span>
            <span *ngIf="answerValue === 'NEGATIVE'" >{{ 'CONFIG.QUESTION.ANSWER.TYPE.BINARY.YES' | translate }}</span>
        </div>
    </div>
</div>



<!-- {{ question | json }}
{{ answerChoices | json }} -->