@import '../../../variables.scss';

.question-wrapper {

    .answer-choices-wrapper {
        text-align: left;
        margin-top: 20px;

        &.preview {
            margin-top: 0;

            .choice {
                position: relative;
                .indicator {
                    position: relative;
                    border: 2px solid #737373;
                    border-radius: 3px;
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                    font-size: 1px;
                    // margin-top: 5px;
                    // line-height: 10px;
                    color: white;
                    font-weight: bold;
                    display: inline-block;

                    .content {
                        position: absolute;
                        top: -3px;
                        left: 1px;
                        font-size: 15px;
                    }

                    &.active {
                        border: 2px solid $colorDanger;
                        background-color: $colorDanger;
                    }
                }
                .text {
                    position: absolute;
                    top: -2px;
                }
            }
        }
    }

    .answer-preview {

        .binary-answer {

            font-weight: bold;

            &.POSITIVE {
                color: $colorSuccess;
            }

            &.NEGATIVE {
                color: $colorDanger;
                font-size: 2.0em;
                line-height: 2.0em;
            }
        }
    }

    .note {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
    }
}

