@import '../../../variables.scss';

.question-wrapper {

    .answer-choices-wrapper {
        text-align: left;
        margin-top: 20px;

        &.preview {
            margin-top: 0;
        }
    }

    .answer-preview {

        .binary-answer {

            font-weight: bold;

            &.POSITIVE {
                color: $colorSuccess;
            }

            &.NEGATIVE {
                color: $colorDanger;
                font-size: 2.0em;
                line-height: 2.0em;
            }
        }
    }
}

