<div class="about-app-wrapper" >
    
    <p>
        Upitnik je informativan. Napravljen je na temelju trenutnih saznanja i preporuka <b>ISUOG</b>-a (International Society for Ultrasound in Obstetrics and Gynecology) <span class="highlighted" >i ne može zamijeniti stručnu liječničku pomoć.</span>
    </p>

    <p>
        Ako smatrate da Vaše zdravstveno stanje ili tegobe znatno odstupaju od pitanja ponuđenih u trijažnom upitniku, preporučujemo da se javite nadležnom liječniku ili službi.
    </p>

    <p>
        Svrha trijažnog upitnika je građanima pružiti okvirne smjernice prilikom potrebe odlaska u zdravstvenu ustanovu zbog stanja nevezanih na koronu ili drugih aktivnosti kod kojih dolazi do smanjenja socijalne distance.
    </p>

    <p>
        Ako imate dodatna pitanja o epidemiji virusa korone, otiđite na <a href="https://www.hzjz.hr/priopcenja-mediji/113-novi-pozivni-centar-za-sva-pitanja-vezana-uz-koronavirus/" target="_blank" >upute HZJZ</a>-a.
    </p>





</div>