<div class="about-app-wrapper" >
    
    <p>
        Upitnik je informativan. Napravljen je na temelju trenutnih saznanja i preporuka <b>ISUOG</b>-a (International Society for Ultrasound in Obstetrics and Gynecology) <span class="highlighted" >i ne može zamijeniti stručnu liječničku pomoć.</span>
    </p>

    <p>
        Ako smatrate da Vaše zdravstveno stanje ili tegobe znatno odstupaju od pitanja ponuđenih u trijažnom upitniku, preporučujemo da se javite nadležnom liječniku ili službi.
    </p>

    <p>
        Svrha trijažnog upitnika je građanima pružiti okvirne smjernice prilikom potrebe odlaska u zdravstvenu ustanovu zbog stanja nevezanih na koronavirus tj. COVID-19 ili drugih aktivnosti kod kojih dolazi do smanjenja socijalne distance (održavanja razmaka među ljudima 1-2 metra).
    </p>

    <p>
        Ako imate dodatna pitanja o epidemiji koronavirusom i COVID-19 možete se informirati na ovim <a href="https://www.hzjz.hr/priopcenja-mediji/113-novi-pozivni-centar-za-sva-pitanja-vezana-uz-koronavirus/" target="_blank" >telefonskim</a> brojevima.
    </p>





</div>