<div class="home-page-wrapper" >

    <div class="header" >
        <p>
            Dobrodošli na upitnik za procjenu rizika od ugroženosti zarazom virusom corone
        </p>
    
        <h1><b>COVID-19</b></h1>
    </div>
    
    <div class="disclaimer" >
        <p>
            UPITNIK NIJE NAMIJENJEN ONIMA SA POTVRĐENOM DIJAGNOZOM COVID-19!   
        </p>
    </div>

    <div class="flex-spacer"></div>

    <a mat-raised-button 
       color="primary" 
       [routerLink]="['/uvjeti']"
       class="action-link" >Pročitaj uvjete korištenja &rarr;</a>

    <div class="footer">
        <h3>ODRICANJE OD ODGOVORNOSTI</h3>
        <p>
            Rezultat ovog upitnika nije dijagnoza nego odgovor je li kod Vas viši rizik da imate zarazu. Za sve detalje obvezatno kontaktirajte liječnika obiteljske medicine ili epidemiologa.
        </p>
    </div>

</div>

