<div class="about-authors-wrapper" >

    <h2>Zajedno protiv COVID-19.</h2>
    
    <p>
        Prim. dr. sc. Nenad Veček, dr. med.<br>
        KBC-Zagreb, Petrova 13
    </p>
    
    
    <p>
        Matija Stepanić<br>
        mag. ing. comp. CEO@ITalk d.o.o.
    </p>
    
    
    <p>
        Zahvala epidemiologinji HZJZ-a prim. Tatjani Nemeth Blažić, dr. med.
    </p>
    
    <h2>
        UPORNOŠĆU DO POBJEDE 
    </h2>
    
    <p>
        <img src="/assets/zg-cathedral.jpg" >
    </p>
    
    <p>
        Hvala <a href="https://hrvatska-danas.com/2020/03/22/video-zagrebacka-katedrala-nakon-potresa-iz-zraka-pao-dio-tornja/" target="_blank" >Igoru Vignjeviću</a> na fotografiji potresom razrušenog vrha tornja zagrebačke prvostolnice
    </p>
</div>