<div class="intro-wrapper">
    <p>
        Corona <a [routerLink]="['/osnovno-COVID-19']" >COVID 19</a> je bolest uzrokovana novotkrivenim <a [routerLink]="['/osnovno-COVID-19']" >SARS-CoV-2</a> virusom. Znaci bolesti očituju se <a [routerLink]="['/simptomi-COVID-19']" >simptomima</a>.
    </p>

    <p>
        Prvi slučajevi zabiljleženi su u Kini krajem 2019. godine. Otada bolest se brzo širi svijetom i prerasta u pandemiju. Pandemija je proglašena 11. ožujka 2020.
    </p>

    <p>
        <b>Prioritet</b> vlada širom svijeta je <b>usporiti prijenos bolesti</b> kako bi zdravstveni sustav mogao zbrinuti sve pogođene građane. Sa tom svrhom napravljena je ova aplikacija. 
    </p>

    <p>
        <b>Autori žele da svi zajedno usporimo širenje bolesti. Aplikacija daje obrazac koji možemo preuzeti u PDF formatu i poslati ga putem elektroničke poruke (e-mail), WhatsApp-a ili Vibera zdravstvenom sustavu da bismo ga upozorili na svoje zdravstveno stanje.</b>
    </p>

</div>
