<mat-toolbar>
    <mat-toolbar-row>
        <!-- TODO: translate [routerLink] -->
        <a mat-icon-button [routerLink]="(questionId > 1) ? (['/', 'pitanje', (questionId - 1)]) : ['/uvjeti']" >
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Back">arrow_back</mat-icon>
        </a>
        <div class="flex-spacer"></div>
        <span>{{ 'CONFIG.QUESTION.TITLE.text' | translate }} {{ questionId }}/{{ howManyQuestions }}</span>
    </mat-toolbar-row>
</mat-toolbar>


<div class="questions-page-wrapper">

    <!-- answerValueForCurrentQuestion = {{ answerValueForCurrentQuestion | json }} -->

    <app-question [id]="questionId" 
                  [answerValue]="answerValueForCurrentQuestion" 
                  (answerValueChange)="onAnswerValueChange($event)"></app-question>

    <app-main-banner></app-main-banner>

    <!-- <div class="flex-spacer"></div> -->
    
    <div class="answers-wrapper" >
        <div class="answers" *ngIf="answerConfig.type === AnswerType.BINARY" >
            <button mat-raised-button 
                    class="answer binary negative"
                    (click)="answer(AnswerType.BINARY, AnswerBinary.NEGATIVE, true)" >{{ answerConfig.negative.tid | translate }}</button>
            <div class="flex-spacer"></div>
            <button mat-raised-button 
                    class="answer binary positive"
                    (click)="answer(AnswerType.BINARY, AnswerBinary.POSITIVE, true)">{{ answerConfig.positive.tid | translate }}</button>
        </div>
        
        <div class="answers" *ngIf="answerConfig.type === AnswerType.MULTIPLE" >
            <button mat-raised-button class="answer multiple submit" (click)="answer(AnswerType.MULTIPLE, answerValueForCurrentQuestion, true)">{{ answerConfig.submit.tid | translate }} &rarr;</button>
        </div>
    </div>

</div>