<div class="about-covid19-wrapper" >

    <h2>Što je SARS-CoV-2?</h2>

    <p>
        Novi soj koronavirusa otkriven 2019. godine u Kini. Korona virusi su velika obitelj virusa koji uzrokuju 10-15 % običnih prehlada, ali ozbiljne bolesti poput SARS-a i MERS-a.
    </p>

    <p>
        Koronavirusi uglavnom cirkuliraju u životinjskoj populaciji i rijetko kada prijeđu na ljude i poprime mogućnost prijenosa sa čovjeka na čovjeka. 
    </p>

    <p>
        To se dogodilo:<br>
        2003.  SARS (Severe Acute Respiratory Syndrome - Teški akutni respiratorni sindrom) sa šišmiša na čovjeka<br>
        2012.  MERS (Middle East Respiratory Syndrome - Bliskoistočni respiratorni sindrom) s deve na čovjeka<br>
        2019.  COVID 19
    </p>

    <h2>Što je COVID-19?</h2>

    <p>
        Bolest dišnog sustava, prouzročena virusom SARS CoV-2. U gotovo 80 % slučajeva oboljeli razviju blaži oblik i oporave se nakon dva-tri tjedna. Međutim, u težim slučajevima dolazi do teške upale pluća i zatajenja organa. 
    </p>

</div>